input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.error {
  color: #fc8181;
  font-size: 12px;
  padding-left: 10px;
  width: 100%;
}

table{
  text-align: center;
}

table td{
  height: 50px;
}

table tr:nth-child(even){
  background-color: #f5f5f5;
}