input:focus {
  outline: none;
}

input::placeholder {
  color: #083f46;
  font-weight: 600;
}

input::-ms-input-placeholder {
  color: #083f46;
  font-weight: 600;
}

.error {
  color: #fc8181;
  font-size: 12px;
  padding-left: 10px;
  width: 100%;
}

table {
  text-align: center;
}

table td {
  height: 50px;
}
